.container {
  display: flex;
  flex-direction: column;
}

.top-bar {
  padding: 0 0em 1em 0.5em;
}

.title {
  font: var(--font-h1);
  color: var(--clr-secondary);
}

.view {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 0;
  gap: 1rem;
}

.view > * {
  min-width: 0;
  min-height: 0;
}

@media (min-width: 37.5em) {
}

@media (min-width: 75em) {
  .view {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
