.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100%;
  width: min(100vw, 90rem);
  min-height: 0;
  position: relative;
  padding: 1rem;
  gap: 1rem;
  padding-bottom: 5.5rem;
}

@media (min-width: 37.5em) {
  .main {
    padding-bottom: 6.5rem;
  }
}

@media (min-width: 75em) {
  .main {
    padding: min(2rem, 1.66vw);
    grid-template-columns: 22% 1fr;
    height: 100%;
  }
}
