.user {
  max-width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--clr-secondary-100);
}

.img {
  display: flex;
  height: 75%;
  aspect-ratio: 1/1;
  border-radius: 100vmax;
  object-fit: cover;
  box-shadow: var(--shadow-box);
}

.clicked {
  transform: scaleY(-1);
  transition: 100ms;
}
