.user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: var(--clr-secondary-100);
  font-size: 1.5em;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.img {
  display: flex;
  height: 75%;
  aspect-ratio: 1/1;
  border-radius: 100vmax;
  object-fit: cover;
  box-shadow: var(--shadow-box);
}

.active {
  border: 1px solid red;
}
