.expense-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 0 0.5em;
  /* background-color: var(--clr-light); */
  /* border-radius: 1rem; */
  width: 100%;
  max-width: 12rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: clamp(1.5em, 1.75vw, 2rem);
  background-color: var(--clr-accent);
  border-radius: 100vmax;
  color: var(--clr-secondary);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount {
  font: var(--font-h3);
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  color: var(--clr-secondary);
}

.label {
  font: var(--font-subtitle);
  color: var(--clr-subtle);
}

.trend {
  margin-top: 0.66em;
  display: flex;
  align-items: center;
  gap: 0.2em;
  font: var(--font-bold);
  padding: 0.25em;
  background-color: var(--clr-success-100);
  color: var(--clr-success);
  border-radius: 0.5em;
  align-self: end;
}

.trend::after {
  font-size: 0.75em;
  content: '\f063';
}
