.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem;
  gap: 0.5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-box);
  background-color: var(--clr-light);
}

.rail {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 1rem 0.5rem;
  gap: 0.5em;
  overflow-x: scroll;
  scrollbar-width: none;
  min-height: 9rem;
}

.rail::-webkit-scrollbar {
  display: none;
}

.arrow {
  font-size: 1.75rem;
}

@media (min-width: 75em) {
  .container {
    grid-column: span 3;
  }
}
