.container {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 0em 1em 0.5em;
}

.title {
  font: var(--font-h1);
  color: var(--clr-secondary);
}

.view {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  min-height: 0;
  background-color: var(--clr-light);
  box-shadow: var(--shadow-box);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.view > * {
  min-width: 0;
  min-height: 0;
}
