.view {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
  align-items: center;
  background-color: var(--clr-light);
  border-radius: 1rem;
  box-shadow: var(--shadow-box);
  padding: 1.5rem;
  position: relative;
}

.view > * {
  min-width: 0;
  min-height: 0;
}
