.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: var(--clr-light); */
  /* box-shadow: var(--shadow-box); */
  border-radius: 1rem;
  padding: 1rem;
}

.label {
  color: var(--clr-dark);
  font: var(--font-h3);
}

.rail {
  height: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 0.5rem;
}

@media (min-width: 75em) {
  .container {
    grid-column: span 1;
  }

  .rail {
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: auto;
  }
}
