.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 2rem;
  padding: 0 0.5rem;
}

.form > * {
  min-width: 0;
  min-height: 0;
}

.form input,
.form textarea,
.form select {
  background-color: var(--clr-light);
}

.actions {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  gap: 1rem;
}

.actions > * {
  min-width: 0;
  min-height: 0;
}

.actions *[btn='delete'] {
  background-color: var(--clr-error);
  color: white;
}

@media (min-width: 37.5em) {
  .form {
    grid-template-columns: 1fr 1fr;
  }

  .form > textarea {
    grid-column: span 2;
  }

  .actions {
    grid-column: span 2;
  }
}
