.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--clr-error);
  grid-row-start: 1;
}

.thermo {
  display: flex;
  flex: 1;
  height: 2rem;
  border: 0.5rem solid var(--clr-light);
  background-color: var(--clr-light);
  border-radius: 1rem;
  box-shadow: var(--shadow-box);
  position: relative;
  align-items: center;
}

.thermo::after {
  content: '';
  position: absolute;
  left: 50%;
  margin: auto;
  height: 150%;
  width: 4px;
  border-radius: 100vmax;
  background-color: currentColor;
}

.balance-container {
  background-color: currentColor;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-box);
  flex-shrink: none;
}

.balance {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-light);
  animation: glow 1.5s ease-in-out infinite alternate;
}

.glass {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 0.125rem;
  background-color: hsl(166, 63%, 50%, 30%);
  border-radius: 0.5rem;
  transition: all 400ms ease;
}

.liquid {
  height: 100%;
  width: var(--liquid-fill);
  max-width: 98%;
  min-width: 5%;
  background-color: currentColor;
  background-image: linear-gradient(
    0deg,
    rgba(235, 235, 235, 0) 20%,
    rgba(235, 235, 235, 0.15) 60%,
    rgba(235, 235, 235, 0.25) 90%,
    rgba(255, 255, 255, 0.35) 100%
  );
  border-radius: 0.5rem;
  transition: all 400ms ease;
}

.negativeBar {
  background-color: hsl(0, 86%, 58%, 30%);
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  }
  to {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 37.5em) {
  .container {
    flex-direction: column;
    grid-row-start: auto;
  }

  .thermo {
    height: 100%;
    width: 2rem;
  }

  .thermo::after {
    left: 50%;
    width: 150%;
    height: 4px;
    transform: translate(-50%);
  }

  .liquid {
    width: 100%;
    height: var(--liquid-fill);
    max-height: 98%;
    min-height: 3%;
  }
}
