.container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-light);
  box-shadow: var(--shadow-box);
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  position: relative;
  min-height: 0;
  min-width: 0;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  gap: 0.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.overall {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  color: var(--clr-secondary-700);
  font: var(--font-h2);
  text-align: end;
}

.overall::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--clr-secondary-100);
}
