.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  display: flex;
  gap: 0.25em;
  align-items: flex-end;
  width: 100%;
  font: var(--font-body);
  font-weight: 600;
  color: var(--clr-body);
}

.required {
  margin-left: auto;
  font: var(--font-small);
  font-size: 0.75rem;
  color: var(--clr-error-700);
}

.optional {
  margin-left: auto;
  font: var(--font-small);
  font-size: 0.75rem;
  color: var(--clr-secondary-700);
}

.info {
  width: 100%;
  font: var(--font-small);
  font-weight: 600;
  color: var(--clr-subtle);
}

.error {
  color: var(--clr-error);
}

@media (min-width: 37.5em) {
  .field[span='2'] {
    grid-column: span 2;
  }
}
