.input {
  width: 100%;
  background-color: var(--clr-accent);
  color: var(--clr-body);
  border-radius: 0.5rem;
  padding: 0.75em 1em;
  font: inherit;
  box-shadow: var(--shadow-inset);
  resize: vertical;
  border: none;
}

.input:focus {
  outline: 1px solid var(--clr-secondary);
  box-shadow: 0px 0px 0px 4px rgba(69, 71, 227, 0.2);
  background-color: var(--clr-light);
}

.input.valid {
  outline: 1px solid var(--clr-success);
  box-shadow: 0px 0px 0px 4px rgba(49, 208, 170, 0.2);
  background-color: var(--clr-light);
}

.input.invalid {
  outline: 1px solid var(--clr-error);
  box-shadow: 0px 0px 0px 4px rgba(240, 56, 56, 0.2);
  background-color: var(--clr-light);
}

.input.disabled {
  color: var(--clr-subtle);
  box-shadow: none;
  cursor: not-allowed;
}

.option[id='0'] {
  display: none;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.add {
  font-size: 2rem;
  color: var(--clr-success);
  cursor: pointer;
}

.reveal {
  font-size: 1.25rem;
  width: 1em;
  height: 1em;
}

.content {
  display: flex;
  gap: 1rem;
}
