.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
}

.title {
  text-align: center;
}

.input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  place-items: center;
  place-content: center;
  position: relative;
}

.toggle {
  align-items: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.feedback {
  position: absolute;
  top: 3rem;
  left: 50%;
  background: var(--clr-error);
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
  font-size: clamp(0.5rem, 2.8vw, 0.8rem);
  /* width: 100%; */
  text-align: center;
  animation: slide-down 300ms ease-out forwards;
}

.feedback::before {
  content: '';
  top: 100%;
  left: 10%;
  position: absolute;
  border: solid transparent;
  border-top-color: #ff4040;
  border-width: 0.5em;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 37.5em) {
  .options {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
