.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.label {
  font: var(--font-h3);
}

.change {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.change span {
  display: none;
}

@media (min-width: 75em) {
  .change span {
    display: block;
  }
}
