.container {
  display: flex;
  flex-direction: column;
}

.top-bar {
  padding: 0 0em 1em 0.5em;
}

.title {
  font: var(--font-h1);
  color: var(--clr-secondary);
}

.view {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: 2rem;
  align-items: flex-start;
  background-color: var(--clr-light);
  border-radius: 1rem;
  box-shadow: var(--shadow-box);
  padding: 2rem;
  position: relative;
}

.view > * {
  min-width: 0;
  min-height: 0;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.label {
  font: var(--font-subtitle);
  font-weight: bold;
}
