.menu {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  background-color: var(--clr-light);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--clr-secondary-100);
  z-index: 10;
  box-shadow: var(--shadow-box);
  max-width: 12rem;
  min-width: max-content;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1.5rem);
  transition: 500ms ease;
}

.list {
  list-style: none;
}

.list > * {
  text-decoration: none;
}

.list > * li {
  border-bottom: 1px solid var(--clr-secondary-100);
}

.list > :last-child li {
  border-bottom: none;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-body);
  font: var(--font-bold);
}

.user::after {
  margin-top: 0.5rem;
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--clr-secondary-100);
}

.greetings {
  text-transform: capitalize;
}

.email {
  font: var(--font-small);
  color: var(--clr-subtle);
}

@media (min-width: 37.5em) {
  .menu {
    right: 3rem;
  }
}
