.user {
  max-width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--clr-secondary-100);
  position: relative;
  height: 100%;
  width: 6rem;
}

.img {
  display: flex;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 100vmax;
  object-fit: cover;
  /* box-shadow: var(--shadow-box); */
  padding: 10rem;
  
}

.clicked {
  transform: scaleY(-1);
  transition: 100ms;
}
