.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background-color: var(--clr-light);
  border-radius: 1rem;
  box-shadow: var(--shadow-box);
  padding: 1.5rem;
  position: relative;
  max-height: 32rem;
}

.header {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font: var(--font-h3);
  min-width: fit-content;
}

.label::after {
  content: '\f107';
}

.rail-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  min-width: 0;
}

.rail {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  max-width: 100%;
  scrollbar-width: none;
}

.rail::-webkit-scrollbar {
  display: none;
}

.category {
  display: flex;
  gap: 0.5rem;
  font: var(--font-body);
  color: var(--clr-body);
}

.category::before {
  content: '\f51e';
}

.img {
  /* width: 100%; */
  height: 100%;
}

@media (min-width: 75em) {
  .container {
    grid-column: span 2;
    max-height: none;
    justify-content: space-between;
  }

  .rail-container {
    width: 75%;
  }

  /* .img {
    width: auto;
    height: 100%;
  } */
}

@media (min-width: 82em) {
  .container {
    padding: 2.5rem;
  }
}
